<body>
    
    <header>
       <a routerLink="/"><div class="logo"> E-commerce</div></a> 
        <div class="search">
            <h1>Admin Console</h1>
        </div>
        <!-- <div class="cart">Cart (0)</div> -->
        <!-- <button class="profile">cart</button> -->
        <div class="dropdown">
          <button class="dropbtn">Profile</button>
          <div class="dropdown-content">
              <a href="#">View Profile</a>
              <a href="#">Orders</a>
              <a routerLink="/Login">Logout</a>
          </div>
      </div>
    </header>
    <nav>
        <ul>
            <li><a routerLink="/AdminHome">Dashboard</a></li>
            <li><a routerLink="/AddProduct">Add Product</a></li>
            <li><a href="">About</a></li>
            <li><a href="">Customers</a></li>
        </ul>
    </nav>
    
    
    </body>

    