<app-admindashboard></app-admindashboard>
<body>
    <div class="container">
        <h1>Add Product</h1>
            <div class="form-group">
                <label for="productName">Product Name:</label>
                <input type="text" [(ngModel)]="obj.name" >
            </div>
            <div class="form-group">
                <label for="quantity">Quantity:</label>
                <input type="number" [(ngModel)]="obj.quantity" >
            </div>
            <div class="form-group">
                <label for="brand">Brand:</label>
                <input type="text" [(ngModel)]="obj.brand" >
            </div>
            <div class="form-group">
                <label for="category">Category:</label>
                <input type="text" [(ngModel)]="obj.category" >

            </div>
            <div class="form-group">
                <label for="productImage">Product Image:</label>
                <!-- <input type="file" id="productImage" (change)="onFileSelected($event)" name="productImage" accept="image/*" required> -->
                <input type="file" (change)="onFileSelected($event)">
                <div class="image-preview">
                    <img *ngIf="selectedFile" [src]="imagePreview" alt="Image Preview" >
                    <!-- <img [src]="imagePreview" alt="Selected Image Preview" *ngIf="imagePreview"> -->
                </div>
            </div>
            <div class="form-group">
                <label for="price">Price:</label>
                <input type="number" [(ngModel)]="obj.price" step="0.01" >
            </div>
            <div class="form-group">
                <label for="description">Description:</label>
                <textarea id="description" [(ngModel)]="obj.description" rows="4" ></textarea>
            </div>
            <button type="submit"  (click)="onUpload()">Add Product</button>
        
    </div>
</body>


<!-- 
<div class="container row">
    <div class="col-md-6">
        <input type="file" (change)="onFileChanged($event)">

    </div>
    <div class="col-md-6">
        <input type="button" (click)="onUpload()" value="upload">
    </div>
</div>
<hr />
<div class="container row">
    <div class="col-md-12">
        <div *ngIf=message>{{message}}</div>
    </div>
</div>

<div class="container row">
    <div class="col-md-6">
        <input type="text" class="form-control" id="name" placeholder="image name" [(ngModel)]="imageName"
            name="name" />
    </div>
    <div class="col-md-6">
        <input type="button" (click)="getImage()" value="Get Image">

    </div>
</div>

<div class="container row">
    <div class="col-md-12">
        <div *ngIf=retrievedImage>
            <img [src]="retrievedImage">
        </div>
    </div>
</div> -->

  
 
  

