body, h1, p {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f0f0f0; 
    font-family: Arial, sans-serif;
}

header {
    background-image: url('src/assets/about bg.avif'); 
    background-size: cover;
    background-position: center;
    color: black;
    text-align: center;
    padding: 100px 0;
    position: relative;
}

header::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.content {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    position: relative;
    z-index: 1;
}


@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}